 *{
      margin:0;
      padding:0;
      box-sizing:border-box;
      font-family: Arial, Helvetica, sans-serif;
  }

    body{
      background: linear-gradient(to right, #140000, #3a0000);
      color:white;
    }

    /* NAVBAR */
    .navbar{
      width:100%;
      height:80px;
      background:#250000;
      display:flex;
      align-items:center;
      justify-content:space-between;
      padding:0 50px;
      border-bottom:1px solid rgba(255,255,255,0.1);
    }

    .logo{
      font-size:40px;
      font-weight:bold;
      letter-spacing:3px;
    }

    .logo span{
      color:#ff3d3d;
    }

    .nav-links{
      display:flex;
      gap:40px;
    }

    .nav-links a{
      color:white;
      text-decoration:none;
      font-weight:bold;
      transition:0.3s;
    }

    .nav-links a:hover{
      color:#ff4a4a;
    }

    .profile{
      background:#d94343;
      padding:10px 20px;
      border-radius:30px;
      display:flex;
      align-items:center;
      gap:10px;
    }

    /* CONTENIDO */
    .container{
      width:90%;
      margin:auto;
      padding:40px 0;
    }

    .welcome{
      text-align:center;
      margin-bottom:40px;
    }

    .welcome h1{
      font-size:50px;
      margin-bottom:10px;
    }

    .welcome span{
      color:#ff4a4a;
    }

    .welcome p{
      color:#d0d0d0;
      font-size:20px;
    }

    /* CARD PRINCIPAL */
    .main-card{
      background:rgba(0,0,0,0.25);
      border:1px solid rgba(255,255,255,0.1);
      border-radius:30px;
      padding:60px;
      text-align:center;
      margin-bottom:50px;
      transition:0.3s;
    }

    .main-card:hover{
      transform:translateY(-5px);
      box-shadow:0 0 20px rgba(255,0,0,0.2);
    }

    .main-card h2{
      margin-top:20px;
      font-size:40px;
    }

    .main-card p{
      margin-top:10px;
      color:#c7c7c7;
    }

    /* CARDS */
    .cards{
      display:grid;
      grid-template-columns:repeat(auto-fit, minmax(300px, 1fr));
      gap:25px;
    }

    .card{
      background:#111;
      border-radius:20px;
      overflow:hidden;
      transition:0.3s;
      text-decoration:none;
      color:white;
      border:1px solid rgba(255,255,255,0.08);
    }

    .card:hover{
      transform:translateY(-8px);
      box-shadow:0 0 20px rgba(255,0,0,0.3);
    }

    .card img{
      width:100%;
      height:220px;
      object-fit:cover;
    }

    .card-content{
      padding:20px;
    }

    .card-content h3{
      font-size:32px;
      margin-bottom:10px;
    }

    .card-content p{
      color:#bdbdbd;
      line-height:1.5;
    }

    @media(max-width:768px){

      .navbar{
        flex-direction:column;
        height:auto;
        padding:20px;
        gap:20px;
      }

      .welcome h1{
        font-size:35px;
      }

      .main-card{
        padding:40px 20px;
      }

      .main-card h2{
        font-size:30px;
      }
    }



/* PAGINA DE INFORMACIÓN */

.info-page{
    width: 80%;
    margin: auto;
    padding: 40px;
    color: white;
}

.info-page img{
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 20px;
    margin-bottom: 30px;
}

.info-page h1{
    font-size: 45px;
    margin-bottom: 20px;
    color: #ffff;
}

.intro{
    font-size: 20px;
    color: #d6d6d6;
    margin-bottom: 40px;
    line-height: 1.7;
}

.tip{
    background: rgba(255, 77, 77, 0.08);
    padding: 25px;
    border-radius: 20px;
    margin-bottom: 25px;
    border: 1px solid rgba(255, 77, 77, 0.25);
}

.tip h2{
    margin-bottom: 15px;
    color: #ffff;
}

.tip p{
    line-height: 1.7;
    color: #d0d0d0;
}

.kiroo-tip{
    background: linear-gradient(
        135deg,
        rgba(138, 92, 255, 0.03),
        rgba(234, 29, 84, 0.145)
    );

    border-left: 4px solid #ff5c5c3b;
    border-radius: 20px;
    padding: 25px;
    margin-bottom: 25px;

    border: 1px solid rgba(255, 92, 157, 0.295);
}

.back-btn{
    display: inline-block;
    margin-top: 20px;
    background: #ff4d4d;
    color: white;
    text-decoration: none;
    padding: 14px 25px;
    border-radius: 12px;
    transition: 0.3s;
}

.back-btn:hover{
    background: #ff2d2d;
}